.shop {
	&__body {
		@include flexbox();
	}
	&__column {
		flex: 0 1 16.666%;
		&_b {
			flex: 0 1 33.333%;
		}
	}
	&__block {}
	&__footer {
		background-color: #282f35;
		padding: 75px 0;
		text-align: center;
	}
	&__btn {
		display: inline-block;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		padding: 20px 50px;
		line-height: 25px;
	}
	@media(max-width: 1100px){
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&:first-child,&:last-child{
				flex: 1 1 100%;
			}
		}
		&__footer{
			padding: 50px 0;
		}
	}
}

.block-shop {
	height: 100%;
	&__row {
		@include flexbox();
	}
	&__column {
		flex: 0 1 50%;
	}
	&__item {
		padding: 0 0 50% 0;
		height: auto;
		&_b {
			padding: 0 0 200.27% 0;
		}
		&_l {
			padding: 0 0 100% 0;
		}
	}
}